<div class="container">
  <div
    class="bcontainer"
    [formGroup]="myForm"
    [style.background-color]="selectedColor"
  >
    <div class="searchcontainer" *ngIf="!showModal">
      <input
        type="text"
        class="inpcontainer"
        placeholder="Take a note..."
        (focus)="toggleModal()"
      />
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="check_box"
        class="boxclass"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="brush"
        class="brushclass"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="image"
        class="imageclass"
      ></mat-icon>
    </div>
    <div class="searchcontainer" *ngIf="showModal">
      <input
        type="text"
        class="inpcontainer remborder"
        formControlName="title"
        placeholder="Title"
        [style.background-color]="selectedColor"
      />
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="keep"
        class="pin"
      ></mat-icon>
    </div>
    <div class="searchcontainer" *ngIf="showModal">
      <input
        type="text"
        class="inpcontainer remborder"
        placeholder="Take a note"
        formControlName="description"
        [style.background-color]="selectedColor"
      />
    </div>
    <div *ngIf="showModal" class="lastcontainer">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="format_letter_spacing_wide"
      ></mat-icon>
      <div class="palletecontainer">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="palette"
          (click)="togglePalletModal()"
        ></mat-icon>
        <div class="palletemodal" *ngIf="showPalletModal">
          <div
            *ngFor="let color of noteColors"
            class="color-circle"
            [style.background-color]="color.value"
            [style.border-color]="color.value"
            [class.selected]="selectedColor === color.value"
            (click)="selectColor(color.value)"
          >
            <div class="check" *ngIf="selectedColor === color.value">
              <mat-icon class="check-icon">check</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="notifications_active"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="person_add"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="image"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="archive"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="more_vert"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="undo"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="redo"
      ></mat-icon>
      <div (click)="onSubmit()">close</div>
    </div>
  </div>
</div>

<div>hello world</div>
