<div class="maincontainer">
  <div *ngIf="pinedNotes.length > 0">
    <div>PINNED</div>
    <div class="container" [class.list]="viewType === 'list'">
      <app-notes-card
        *ngFor="let note of pinedNotes"
        [title]="note.title"
        [description]="note.description"
        [viewType]="viewType"
      ></app-notes-card>
    </div>
  </div>
  <div *ngIf="nonPinedNotes.length > 0">
    <div>OTHERS</div>
    <div class="container" [class.list]="viewType === 'list'">
      <app-notes-card
        *ngFor="let note of nonPinedNotes"
        [title]="note.title"
        [description]="note.description"
        [viewType]="viewType"
      ></app-notes-card>
    </div>
  </div>
</div>
