<mat-toolbar class="navbar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="showFiller = !showFiller"
  >
    <mat-icon class="menuicon">menu</mat-icon>
  </button>
  <img src="../../../assets/keepicon.png" alt="" />
  <span style="color: #5f6368; font-family: sans-serif; font-size: 22px"
    >Keep</span
  >
  <span class="example-spacer"></span>
  <div class="searchcontainer">
    <mat-icon class="search-icon menuicon">search</mat-icon>
    <input type="text" class="inpcontainer" placeholder="Search" />
  </div>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon class="menuicon">view_stream</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon class="menuicon">refresh</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon class="menuicon">settings</mat-icon>
  </button>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon class="menuicon">apps</mat-icon>
  </button>
</mat-toolbar>
<app-sidebar></app-sidebar>
