.example-spacer {
  flex: 1 1 auto;
}
.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgb(128, 128, 128, 0.2);
}
.inpcontainer {
  padding: 15px 10px 15px 50px;
  border-radius: 5px;
  border: none;
  background-color: rgb(128, 128, 128, 0.2);
  font-size: 1.1rem;
  width: 100%;
}
input:focus {
  outline: none;
  background-color: white;
  box-shadow: 2px 2px 5px 5px rgb(128, 128, 128, 0.2);
}
.searchcontainer {
  position: relative;
  width: 40%;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.menuicon {
  font-size: 28px;
  font-weight: lighter;
  color: #5f6368;
}
.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.scontainer {
  width: 5%;
  border: 0px;
  transition: width 0.5s ease;
}
.scontainer.expanded {
  width: 15%;
  border-right: 1px solid #5f6368;
  box-shadow: 1px 0px 5px #5f6368;
}

.maincontainer {
  background-color: white;
}

.sidecontainer {
  padding: 20px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
}

.selected {
  background-color: rgb(254, 239, 195);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-right: 0;
  width: 91%;
}
.shover {
  width: 100%;
}
.exps {
  justify-content: center;
  background-color: rgb(254, 239, 195);

  border-radius: 50%;
}
